<div class="container">
  <div class="row">
    <div class="col-sm-12 mx-auto max-w-480 shadow-lg rounded">
      <div class="h5 text-dark bg-light p-4 mb-0">編集</div>
      <div class="form-body p-4">
        <%= render partial: "shared/error_message", locals: { errors: @post.errors } %>
        
        <%= form_with model: @post do |f| %>
          <div class="form-group">
            <%= f.label :caption %>
            <%= f.text_area :caption, placeholder: "200文字以内", class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.collection_check_boxes :animal_ids, @animals, :id, :name do |b| %>
              <%= b.label do %>
                <%= b.check_box %>
                <%= b.text %>
              <% end %>
            <% end %>
          </div>
          <%= f.submit "保存", class: "btn btn-block btn-outline-secondary mb-3" %>
          <a href="javascript:history.back()"><i class="fa-solid fa-arrow-left-long">戻る</i></a>
        <% end %>
      </div>
　　</div>
  </div>
</div>