<div class="container">
  
  <div class="d-md-flex">
    <div class="h3 mr-5">投稿一覧</div>
    <div class="mr-5">
    <%= form_with url: posts_path, method: :get do |f| %>
      <%= f.text_field :caption, value: params[:caption] %>
      <%= f.submit "検索" %>
    <% end %>
    </div>
    <div class="my-auto mr-5">
    <%= link_to "カテゴリー検索", categories_path %>
    </div>
    <div class="my-auto mr-5">
    <%= link_to "ユーザー検索", users_path %>
    </div>
    <div class="my-auto">
      <%= link_to "いいねランキング", ranks_posts_path %>
    </div>
  </div>
  <%= render "list", posts: @posts %>
</div>