<div class="container">
  
  <%= link_to :back do %>
    <i class="fa-solid fa-arrow-left-long">戻る</i>
  <% end %>

  <div class="card-list-container py-5">
    <div class="row">
      <div class="col-12 col-sm-8 col-md-6 mx-auto">
        <div class="card mt-4 shadow-lg">
          <%= image_tag @post.get_image(400,400), size: "400x400", class: "card-img-top object-fit-cover" %>
          <div class="card-body">
            <div class="d-flex">
              <div>
                <%= link_to user_path(@post.user.id) do %>
                  <%= image_tag @post.user.get_profile_image(100,100), size: "100x100", class: "object-fit-cover rounded-circle" %>
                  <p class="text-center text-dark"><%= @post.user.name %></p>
                <% end %>
              </div>
              <div class="p-2 flex-fill">
                <p><%= simple_format(@post.caption, sanitize: true) %></p>
                <p><%= @post.created_at.strftime('%Y/%m/%d') %></p>
                <% if @post.user == current_user %>
                  <%= link_to "編集", edit_post_path, class: "btn btn-outline-secondary" %>
                  <%= link_to "削除", post_path(@post.id), method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn-outline-danger" %>
                <% end %>
              </div>
            </div>
            <div class="js-fav-btn-<%= @post.id %>">
              <%= render partial: "public/favorites/button", locals: { post: @post } %>
            </div>
            <p><i class="fa-regular fa-comment" style="color: #74C0FC;"></i> コメント件数：<span class="js-comments-count"><%= @post.comments_count %></span></p>
            <div class="js-comments">
              <%= render partial: "public/comments/comment", locals: { post: @post } %>
            </div>
            <div class="flex-fill">
              <%= form_with model: [@post, @comment], local: false do |f| %>
                <%= f.text_area :comment, rows: "2", placeholder: "コメント（50文字以内）" %>
                <%= f.submit "送信する" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>