<h1>Users#index</h1>

<%= form_with url: users_path, method: :get do |f| %>
  <%= f.text_field :name %>
  <%= f.submit "検索" %>
<% end %>

<% @users.each do |user| %>
  <div>
    <%= link_to user_path(user) do %>
      <%= image_tag user.get_profile_image(100,100), class: "mt-3 rounded-circle"; %>
      <%= user.name %>
    <% end %>
  </div>
<% end %>
