<h1><%= @user.name %>の動物</h1>

<% if @user == current_user %>
  <%= link_to "登録", new_user_animal_path %>  
<% end %>

<div>
  <% @animals.each do |animal| %>
  <div>
    <%= link_to user_animal_path(user_id: animal.user_id, id: animal.id) do %>
      <%= image_tag animal.get_animal_image(100,100) %>
      <%= animal.name %>
    <% end %>
  </div>
  <% end %>
</div>

<%= link_to "戻る", user_path(@user.id) %>