<h1>Animals#index</h1>

<% @animals.each do |animal| %>
  <%= image_tag animal.get_animal_image(200,200) %>
  <p><%= animal.name %></p>
  <p><%= animal.sex %></p>
  <p><%= animal.age %></p>
  <p><%= animal.character %></p>
<% end %>
