<h1>プロフィール</h1>

  <%= image_tag @animal.get_animal_image(200,200) %>
  <p>名前：<%= @animal.name %></p>
  <p>
    性別：<%= @animal.sex_i18n %>
  </p>
  <p>年齢：<%= @animal.age %></p>
  <p>性格：<%= @animal.character %></p>

<% if @user == current_user %>
  <%= link_to "編集", edit_user_animal_path %>
<% end %>

<%= link_to "戻る", user_animals_path(@user.id) %>

<% @posts.each do |post| %>
  <div>
  <%= link_to post_path(post.id) do %>
    <%= image_tag post.get_image(200,200) %>
  <% end %>
    <p><%= post.caption %></p>
    <p><%= link_to "#{post.comments.count} コメント", post_path(post.id) %></p>
</div>
  
<% end %>