<h1>Animals#show</h1>

  <%= image_tag @animal.get_animal_image(200,200) %>
  <p><%= @animal.name %></p>
  <p><%= @animal.sex %></p>
  <p><%= @animal.age %></p>
  <p><%= @animal.character %></p>
  
<%= link_to "戻る", user_animals_path(@user.id) %>


