<div class="container">
  <div class="h3 ">カテゴリー</div>
  <% if @category.errors.any? %>
    <ul class="alert alert-danger" role="alert">
      <div class="h6 alert-heading">
        <%= @category.errors.count %>件のエラーが発生しました
      </div>
        <% @category.errors.full_messages.each do |message| %>
      <li><%= message %></li>
        <% end %>
    </ul>
    <% end %>

    <%= form_with model: @category do |f| %>
      <%= f.text_field :name, placeholder: "カテゴリー名" %>
      <%= f.submit "新規登録" %>
    <% end %>

    <% @categories.each do |category| %>
      <div class="my-3">
        <%= link_to category_path(category) do %>
        <span class="text-dark"><%= category.name %></span>
        <% end %>
      </div>
    <% end %>
    
  </div>