<div class="container">
  <div class="row">
    <div class="col-sm-12 mx-auto max-w-480 shadow-lg rounded">
      <div class="h5 text-dark bg-light p-4 mb-0">カテゴリー編集</div>
      <div class="form-body p-4">
        <%= render partial: "shared/error_message", locals: { errors: @category.errors } %>
        
        <%= form_with model: [:admin, @category] do |f| %>
          <div class="form-group">
            <%= f.label :name %>
            <%= f.text_field :name %>
          </div>
          <%= f.submit "保存", class: "btn btn-outline-secondary mb-3" %>
        <% end %>

        <a href="javascript:history.back()"><i class="fa-solid fa-arrow-left-long">戻る</i></a>
      </div>
　　</div>
  </div>
</div>