<div class="container">
  <div class="row">
    <div class="col-sm-12 mx-auto max-w-480 shadow-lg rounded">
      <div class="h5 text-dark bg-light p-4 mb-0">カテゴリー編集</div>
        <div class="form-body p-4">
  
        <% if @category.errors.any? %>
        <ul class="alert alert-danger" role="alert">
          <div class="h6 alert-heading">
            <%= @category.errors.count %>件のエラーが発生しました
          </div>
            <% @category.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        <% end %>
  
        <%= form_with model: @category do |f| %>
          <div class="form-group">
            <%= f.label :name %>
            <%= f.text_field :name %>
          </div>
          <%= f.submit "保存", class: "btn btn-outline-secondary mb-3" %>
        <% end %>
  
        <%= link_to admin_categories_path do %>
          <i class="fa-solid fa-arrow-left-long">戻る</i>
        <% end %>
      </div>
　　</div>
  </div>
</div>