<div class="container">
  <div class="d-md-flex">
    <div class="h3 mr-5">カテゴリー</div>
    <%= form_with url: admin_categories_path, method: :get do |f| %>
      <%= f.text_field :name, value: params[:name], placeholder: "ユーザー名" %>
      <%= f.submit "検索" %>
    <% end %>
  </div>
  <a href="javascript:history.back()"><i class="fa-solid fa-arrow-left-long">戻る</i></a>
  
  <div class="row">
    <div class="col-md-5 col-sm-10 mt-3">
      <table class="table mt-3">
        <tbody>
          <% @categories.each do |category| %>
          <tr>
            <td>
              <%= category.name %>
            </td>
            <td>
              <%= link_to "編集", edit_admin_category_path(category), class: "btn btn-outline-secondary ml-5" %>
              <%= link_to "削除", admin_category_path(category), method: :delete, class: "btn btn-outline-danger ml-5", data: { confirm: "本当に削除しますか？" } %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
      <%= paginate @categories %>
    </div>
  </div>
</div>