<div class="container">
  <div class="row">
    <div class="col-sm-12 mx-auto max-w-480 shadow-lg rounded my-5">
      <h5 class="text-dark bg-light p-4 mb-0">編集</h5>
      <div class="form-body p-4">
        <% if @animal.errors.any? %>
          <ul class="alert alert-danger" role="alert">
            <h6 class="alert-heading">
              <%= @animal.errors.count %>件のエラーが発生しました
            </h6>
            <% @animal.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        <% end %>
      <%= form_with model: @animal do |f| %>
        <div class="form-group">
        <%= f.file_field :animal_image, accept: "image/*", class: "w-100" %>
        </div>
        <div class="form-group">
          <%= f.label :name %>
          <%= f.text_field :name, autofocus: true, id:"inputName", placeholder:"名前" %>
        </div>
        <div class="form-group d-flex">
          <%= f.label :sex %>
        　<div>
            <%= f.radio_button :sex, Animal.sexes.key(0) %>
            <%= f.label :sex_male, Animal.sexes_i18n[:male] %><br>
            <%= f.radio_button :sex, Animal.sexes.key(1) %>
            <%= f.label :sex_female, Animal.sexes_i18n[:female] %><br>
            <%= f.radio_button :sex, Animal.sexes.key(2) %>
            <%= f.label :sex_unknown, Animal.sexes_i18n[:unknown] %><br>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :age %>
          <%= f.text_field :age %>
        </div>
        <div class="form-group">
          <%= f.label :character %>
          <%= f.text_field :character %>
        </div>
        <div class="form-group">
          <%= f.label :category_id %>
          <%= f.collection_radio_buttons :category_id, @categories, :id, :name do |b| %>
            <%= b.label do %>
              <%= b.radio_button %>
              <%= b.text %>
            <% end %>
          <% end %>
        </div>
        <%= f.submit "変更を保存", class: "btn btn-block btn-outline-secondary mb-3" %>
      <% end %>
      <%= link_to animal_path do %>
        <i class="fa-solid fa-arrow-left-long">戻る</i>
      <% end %>
      </div>
　　</div>
  </div>
</div>