<div class="container">

<h3 class="mt-5"><%= @user.name %>の動物</h3>
<div>
<%= link_to user_path(@user) do %>
  <i class="fa-solid fa-arrow-left-long">戻る</i>
<% end %>

<% if @user == current_user %>
  <%= link_to "登録", new_animal_path, class: "btn btn-secondary ml-3" %>  
<% end %>
</div>
<div>
  <% @animals.each do |animal| %>
  <div class="my-auto">
    <%= link_to animal_path(animal) do %>
      <%= image_tag animal.get_animal_image(100,100), size: "100x100", class: 'object-fit-contain rounded-circle' %>
      <%= animal.name %>
    <% end %>
  </div>
  <% end %>
</div>
</div>