<h1>投稿詳細</h1>
  <div>
    <%= image_tag @post.get_image(200,200) %>
    <p><%= @post.caption %></p>
    <p><%= link_to @post.user.name, user_path(@post.user.id) %></p>
    <p><%= @post.created_at.strftime('%Y/%m/%d') %></p>
    
    <% if @post.user == current_user %>
      <%= link_to "編集", edit_post_path %>
      |
      <%= link_to "削除", post_path(@post.id), method: :delete, "data-confirm" => "本当に削除しますか？" %>
    <% end %>
    
    <% if @post.favorited_by?(current_user) %>
      <p>
        <%= link_to post_favorite_path(@post), method: :delete do %>
        <i class="fa-solid fa-heart" style="color: red;"></i> <%= @post.favorites.count %> いいね
        <% end %>
      </p>
      <% else %>
      <p>
        <%= link_to post_favorite_path(@post), method: :post do %>
        <i class="fa-regular fa-heart" style="color: red;"></i> <%= @post.favorites.count %> いいね
        <% end %>
      </p>
    <% end %>
    
    <dev>
      <p>コメント件数：<%= @post.comments.count %></p>
      <% @post.comments.each do |comment| %>
        <p><%= image_tag comment.user.get_profile_image(50,50), class: "rounded-circle" %>
           <%= comment.user.name %>
        </p>
        <%= comment.created_at.strftime('%Y/%m/%d') %><%= comment.comment %>
        <% if comment.user == current_user %>
          <%= link_to "削除", post_comment_path(comment.post, comment), method: :delete %>
        <% end %>
      <% end %>
    </dev>
    <div>
      <%= form_with model: [@post, @comment] do |f| %>
        <%= f.text_area :comment, rows: '3', placeholder: "コメントをここに" %>
        <%= f.submit "送信する" %>
      <% end %>
    </div>
    
  </div>

