<h2>カテゴリー</h2>
<% if @category.errors.any? %>
  <%= @category.errors.count %>件のエラーが発生しました
  <ul>
    <% @category.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with model: @category do |f| %>
  <%= f.text_field :name %>
  <%= f.submit "新規登録" %>
<% end %>

<% @categories.each do |category| %>
  <p>
    <%= category.name %>
    <%= link_to "編集", edit_category_path(category) %>
  </p>
<% end %>