<div class="container">
  <div class="d-md-flex">
    <div class="h3 mr-5">ユーザー一覧</div>
    <%= form_with url: admin_users_path, method: :get do |f| %>
      <%= f.text_field :name, value: params[:name], placeholder: "ユーザー名" %>
      <%= f.submit "検索" %>
    <% end %>
  </div>
    
  <%= link_to admin_root_path do %>
    <i class="fa-solid fa-arrow-left-long">戻る</i>
  <% end %>
      
  <div class="row">
    <div class="col-md-5 col-sm-10 mt-3">
      <table class="table mt-3">
        <tbody>
          <% @users.each do |user| %>
            <tr>
              <td>
                <%= user.name %>
              </td>
              <td>
                <%= user.email %>
              </td>
              <td>
                <%= link_to "削除", admin_user_path(user), method: :delete, class: "btn btn-outline-danger", data: { confirm: "本当に削除しますか？" } %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= paginate @users %>
    </div>
  </div>
</div>