<div class="container">
  <div class="h3"><%= @user.name %></div>
    <%= image_tag @user.get_profile_image(100,100), size: "100x100", class: 'object-fit-contain mt-3 rounded-circle' %>
    <p>introduction:<%= @user.introduction %></p>
  <div>
    <% if current_user != @user %>
      <% if current_user.following?(@user) %>
        <%= link_to "フォロー外す", user_relationship_path(@user), method: :delete, class: "btn btn-outline-info" %>
      <% else %>
        <%= link_to "フォローする", user_relationships_path(@user), method: :post, class: "btn btn-info" %>
      <% end %>
  　<% end %>
　</div>
　<div class="d-flex">
  　<div>フォロー数: 
  　  <%= link_to user_following_path(@user) do %>
  　    <%= @user.following_users.count %>
  　  <% end %>
  　 </div>
  　<div>フォロワー数: 
  　  <%= link_to user_followed_path(@user) do %>
  　    <%= @user.followed_users.count %>
  　  <% end %>
    </div>
  </div>

  <% if @user == current_user %>
　  <div><%= link_to "プロフィール編集", edit_user_path, class: "btn btn-outline-secondary" %></div>
　  <div><%= link_to "お気に入り", user_favorites_path(@user) %></div>
  <% end %>
  
  <div class="my-3">
    <%= link_to user_animals_path(@user) do %>
      <p><%= @user.name %>の動物</p>
    <% end %>
  </div>
  <%= render 'public/posts/list', posts: @posts %>
</div>

