<!DOCTYPE html>
<html>
  <head>
    <title>WithAnimals</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/72700d4193.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h1><%= link_to "with Animals", posts_path %></h1>
      <ul class="list-unstyled">
      <% if user_signed_in? %>
        <li>
        <%= link_to '投稿フォーム', new_post_path %>
        </li>
        <li>
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
        </li>
        <li>
          <%= link_to user_path(current_user) do %>
            <%= image_tag current_user.get_profile_image(100,100), class: "mt-3 rounded-circle"; %><br>
            <p><%= current_user.name %></p>
          <% end %>
        </li>
      <% else %>
        <li>
         <%= link_to "新規登録", new_user_registration_path %>
        </li>
        <li>
          <%= link_to "ログイン", new_user_session_path %>
        </li>
      <% end %>
      </ul>
    </header>
    <%= yield %>
  </body>
</html>
