<!DOCTYPE html>
<html>
  <head>
    <title>WithAnimals</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/72700d4193.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="d-flex flex-column vh-100">
    <header class="shadow-sm">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
          <% if user_signed_in? %>
            <div>
              <%= link_to posts_path, class: "text-decoration-none" do %>
                <p class="h1 text-info">with Animals <i class="fa-solid fa-paw" style="color: #ffaddd;"></i></p>
              <% end %>
            </div>
          <% else %>
            <div>
              <%= link_to root_path, class: "text-decoration-none" do %>
                <p class="h1 text-info">with Animals <i class="fa-solid fa-paw" style="color: #ffaddd;"></i></p>
              <% end %>
            </div>
          <% end %>
          
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
              <% if user_signed_in? %>
              <li class="nav-item my-auto p-2">
                <%= link_to "新規投稿", new_post_path, class: "text-decoration-none text-dark" %>
              </li>
              <li class="nav-item my-auto p-2">
                <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "text-decoration-none text-dark" %>
              </li>
              <li class="nav-item my-auto p-2">
                <%= link_to user_path(current_user) do %>
                  <div class="d-inline-block">
                    <%= image_tag current_user.get_profile_image(100,100), size: "100x100", class: 'object-fit-cover mt-3 rounded-circle' %>
                    <p class="text-center text-dark"><%= current_user.name %></p>
                  </div>
                <% end %>
              </li>
              <% else %>
              <li class="nav-item p-2">
               <%= link_to "新規登録", new_user_registration_path, class: "text-decoration-none text-dark" %>
              </li>
              <li class="nav-item p-2">
                <%= link_to "ログイン", new_user_session_path, class: "text-decoration-none text-dark" %>
              </li>
              <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <main class="my-5">
      <%= yield %>
    </main>

    <footer class="bg-dark text-white pt-5 pb-4">
      <div class="container">
        <div class="row">
          <div class="mx-auto">
          <p>動物で癒しを与えるSNS</p>
          </div>
        </div>
      </div>
    </footer>

  </body>
</html>
